* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Nunito', sans-serif;
}

body {
  padding: 50px;
  background-color: bisque;
}
h1 {
  margin-bottom: 50px;
}

main {
  display: flex;
  flex-wrap: wrap;
}
.car {
  margin: 10px;
  padding: 20px;
  width: calc(100% / 3 - 20px);
  background-color: rgba(0,0,0,0.2);
  border-radius: 5px;
  transition: 0.25s;
}
.car:hover {
  cursor: pointer;
  transform: scale(1.05);
}